<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <!--<script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/script.js"></script>
        <script src="/javascripts/socket.js"></script>-->
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <img src="/images/logo.png" id="logo" alt="Wildfire">
                <div class="nav">
                {% for group in groups %}
                    <div class="link green_hover" data-color="green">
                        <a href="/{{group.num}}"><span>{{ group.title }}</span></a>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="pages">
                <div class="page green">
                    <div class="content">
                        <header>{{ group.title }}</header>
                        <article>
                            <div class="chat_area">
                                <div class="messages">
                                    {% for message in messages %}
                                        <div class="other">{{ message.msg }}</div>
                                    {% endfor %}
                                </div>
                                <form class="interact" data-id="{{ group.num }}">
                                    <input type="text" class="input">
                                    <input type="submit" class="submit" value="Send">
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
