<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/socket.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <a href="/"><img src="/img/logo.gif" class="logo" alt="Wildfire"></a>
                <div class="nav">
                {% for g in groups %}
                    <div class="link orange_hover {{ "active" if group_id == g.id }}" data-color="orange" data-id="{{ g.id }}">
                        <a href="/{{ g.id }}"><span>{{ g.title }}</span></a>
                    </div>
                {% endfor %}
                </div>

                <div class="new_group">
                    <div class="link orange_hover new_group_link" data-color="orange">
                        <span><i class="fa fa-plus"></i> New</span>
                    </div>
                </div>
            </div>
            
            <div style="clear: both"></div>

            <div class="pages">
                <div class="page orange">
                    <div class="content">
                        <header>{{ group.title }}</header>
                        <article>
                            <div class="chat_area">
                                <div class="messages">
                                    {% for message in messages %}
                                        <div class="other">{{ message.msg }}</div>
                                    {% endfor %}
                                </div>
                                <form class="interact" data-id="{{ group.id }}">
                                    <input type="text" class="input">
                                    <input type="submit" class="submit" value="Send">
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
