<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <img src="/img/logo.png" class="logo" alt="Wildfire">
                <div class="nav">
                {% for group in groups %}
                    <div class="link green_hover" data-color="green">
                        <a href="/{{ group.num }}"><span>{{ group.title }}</span></a>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="pages">
                <div class="page green">
                    <div class="content">
                        <header>Welcome</header>
                        <article>Welcome to Wildfire. This app is currently under heavy development. Check back later for a more polished version.</article>
                    </div>
                </div>

            </div>
        
        </div>
    </body>
</html>
